/* ----------------------APUNTES DE CSS ----------------------*/
    /*Reglas
        Selectores
        Declaraciones
        Propiedades
        Valores
    */


    /*background:pink;*/
    /*color: red*/ /*último elemento se deja sin ; */
    /* selector de etiqueta header - section - article - nav */

    /*selector descendente*/

        /*body header div nav ol li a {
        }*/

    /*selector de clase: . */
        /* .portafolio{} */

        /* .link */

    /*selector de ID: # */
        /* ejemplo: #portafolio{} */

            /* ------COLORES CSS DE MOCKUP -----*/
        /* gris oscuro = #1d252c /
        / gris claro = #626262 /
        / background gris = #1b2127
            celeste = #026fff
        */

        body{
            font-family: 'Source Sans Pro', sans-serif;
            /*si no encuentra la primera, busca la segunda, tercera... n_esima*/
            margin: 0;
        }

        .header{
            background-color:#1d252c;
            color: white;
            display: flex; 
            justify-content: space-between;
            align-items: center;
            height: 70px;
        }

        .menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: inherit;
        }

        /* primer selector descendente, aplicar a las anclas hijos de header */
        .header a{
            color: white;
            text-decoration: none;
        }

        .header ol{
            display: flex;
            height: inherit;
            
        }

        .header ol li{
            height: inherit;
            
        }

        .header a{
            display: flex;
            height: inherit;
            align-items: center;
            padding: 0 10px;

        }

        figure{
            margin: 0;
        }

        ol, ul{
            /* se les asigna 0 y none por que por defecto tienen valores predet */
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .hero{
            height: 300px;
            background-image: url('../images/DSC_0316.JPG');
            background-color: #1d252c;
            background-size: 500px 300px;
            background-repeat: no-repeat;
            background-position-x: right ; /*  */
            display: flex;
            align-items: center;
        }

        h1,h2,h3,h4,h5,h6{
            font-family: 'Fjalla One';
            margin: 0;
        }

        h1{
            font-size: 40px; /*tamaño fuente*/
            line-height: 1.5; /*separación fuente (mirar inspector)*/
            /*font-weight: normal;*/ /*normal=400px, bold=600px*/
            color: white;
            /* letter-spacing: -.2px; */
            /* text-transform: uppercase; */
            /* margin: top right bottom left; */
            margin: 100px 150px 70px 30px;
        }

        h1 strong {
            color:#026fff;
        }
        h2 {
            color:#026fff;
            text-transform: uppercase;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 40px;
        }

        .portfolio{
            background: #fafafa;
            padding: 20px;
        }

        .project, .event{
            /* border-top: 10px solid red;
            border-left: 10px solid orange;
            border-right: 10px solid green;
            border-bottom: 10px solid pink; */
            /* border-radius: 10px;
            border-width: 10px;
            border-style: groove;
            border-color: royalblue; */
            border: 1px solid gray;
            border-radius: 10px;
            /* border-top-left-radius: 50px; */
            /* margin-bottom: 15px;
            margin-right: ;
            margin-left: ;
            margin-top: ; */
            /* display: block;
            margin: 0 auto; */
            padding: 20px;
            /* margin: 10px; */
            margin-bottom: 15px;
            background: white;
            display: flex;

        }

        .project-title{
            font-size: 30px;
            margin-bottom: 10px;
            margin-top: 0;
        }

        .project-course{
            margin-top: 10px;
        }

        .project-date{
            margin:10px 0;
        }
        .project-details, .event-details{
            width: 500px;
        }

        .project-imageContainer, .event-imageContainer{
            width: 500px;
        }

        .flexbox{
            display: flex;
            /* flex-direction: column; */
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }

        .box{
            width: 50px;
            height: 50px;
            border: 1px solid red;
            flex-shrink: 0;
            margin: 5px;
            
        }

        .footer{
            background-color: #1d252c;
            color:white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .footer img{
            vertical-align: middle;
        }

        .footer a {
            color: white;
        }

